/**tableau**/
.titleCap{
  font-size: 16px;
}
/**bulles info**/
.tooltipColl {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}
.tooltipColl .previewColl {
  min-width:200px;
  max-width:350px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(20, -50%);
  padding:2px;
  color:#EEEEEE;
  background-color:#444444;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 1s;
}

.tooltipColl:hover .previewColl {
  visibility:visible; opacity:1;
}

.tooltipColl .previewColl img {
  width:350px;
  border-radius:8px 8px 0 0;
}
.tooltipColl .descriptif {
  padding:10px 20px;
}